<nav class="navbar navbar-expand-md sticky-top navbar-dark"
    style="padding: 10px 10vw; background-image: linear-gradient(to left, #C845AA, #770DDB);">
    <div class="container">
        <a class="navbar-brand font-weight-bold" style="color: white" href="/">COLLEGE MATE</a>


        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
            aria-controls="collapsibleNavbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" style="float: right">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="padding: 8px 20px; color: white" href="/signup">Sign
                        Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding: 8px 20px; color: white" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>